/Aula04/build/
/Aula04/nbproject/private/
/Aula05/build/
/Aula05/nbproject/private/
/Aula06/build/
/Aula06/nbproject/private/
/Aula3/build/
/Aula3/nbproject/private/
/UlraEmojiCombatAula07/nbproject/private/
/UlraEmojiCombatAula07/build/
